@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
    --base-color: #3D5170;
    --accent-color: #6f7276;
}

body {
    background-color: #FFFFFF;
    color: var(--base-color);
    font-family: arial, Helvetica, sans-serif;
    padding: 20px;
    
    display:flex;
    justify-content: center;
    align-items:center;
}

.heading {
    font-family: "share tech";
    font-size: 2.5rem;
    font-weight:bold;
}

.sub-heading {
    letter-spacing: 8px;
    font-weight: 600;
    color: var(--accent-color);
}

a {
    text-decoration: none;
    color: var(--base-color);
    &:visited {
        color: var(--base-color);
    }
    &:hover {
        text-decoration: underline;
    }
}

figure {
    margin: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
}

figcaption {
    font-size:0.8rem;
    font-weight: 900;
    color: var(--accent-color);
    padding-top:3px;
}

footer {
    font-weight: bold;
}

aside {
    max-width: 800px;
    padding-top:10px;
	padding-bottom:10px;
    border-top: dotted 2px var(--base-color);
	margin-top:10px;
}

#thumbnails {
    max-width: 880px;
    padding-top:20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    border-radius: 5px;
    width: 200px;
    height: 298px;
}

nav {
    padding-bottom:20px;
    display:flex;
}

i {
    padding-right:8px;
}

.nav-link {
    padding-right:20px;
    font-weight:bold;
}

.nav-link:nth-of-type(3) {
    padding-left:20px;
    border-left: 2px dotted var(--accent-color);
}

.full-image {
    border-radius: 10px;
    width:469px;
    height:700px;
}

@media (max-width: 500px) {
    #thumbnails {
        flex-direction: column;
        align-items: center;
    }

    figure {
        padding-right: 0px;
    
    }
    .full-image {
        width:300px;
        height: 450px;
    }
}